@import '../../scss/vars';

.homepage {
  @extend %page;
  position: relative;

  &__title {
    @extend %page-title;
  }

  &__preloader {
    width: 200px !important;
    height: 200px !important;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__statTitle {
    color: $light-grey;
    margin-bottom: 10px;
    font-size: 16px;
  }

  &__statValue {
    font-size: 22px;
  }

  &__subtitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-right: 10px;
  }

  &__showMore {
    font-size: 20px;
    font-weight: 500;
    color: $light-blue;
  }
}

@media (max-width: 555px) {
  .homepage__title {
    font-size: 26px;
  }

  .homepage__subtitle {
    font-size: 22px;
  }

  .homepage__showMore {
    font-size: 18px;
  }
}

@media (max-width: 511px) {
  .homepage__top10SubtitleBox {
    flex-direction: column;
  }

  .homepage__top10Subtitle {
    margin-bottom: 5px;
    text-align: center;
  }
}

@media (max-width: 431px) {
  .homepage__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 351px) {
  .homepage__newsBox {
    flex-direction: column;
    text-align: center;
  }

  .homepage__newsSbutitle {
    margin-bottom: 5px;
  }
}
