@import '../../../scss/vars';

.details {
  @extend %page;

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: $light-blue;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-size: 20px;
    color: $dark-grey;
  }

  &__select {
    margin-bottom: 30px;
  }

  &__statsBlock {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
