@import '../../../scss/vars';

.details {
  @extend %page;

  &__title,
  &__subtitle,
  &__coinDescription,
  &__linksTitle {
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: $light-blue;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-size: 20px;
    color: $dark-grey;
  }

  &__select {
    margin-bottom: 30px;
  }

  &__chartBlock {
    margin-bottom: 30px;
  }

  &__statsBlock {
    margin: 0 auto 40px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__coinDescription {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    color: $dark-grey;
    margin-bottom: 30px;
  }

  &__linksTitle {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}
