@import '../../../../scss/vars';

.stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $border;

  &__titleBox {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 10px;
    font-size: 18px;
  }

  &__value {
    font-size: 22px;
    font-weight: 700;
  }
}
