@import '../../../../scss/vars';

.stat {
  @extend %coin-row;

  &:hover {
    background-color: $bgPrimary;
  }

  &__titleBox {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 10px;
    font-size: 18px;
  }

  &__value {
    font-size: 22px;
    font-weight: 700;
  }
}

@media (max-width: 751px) {
  .stat__title {
    font-size: 16px;
  }

  .stat__value {
    font-size: 20px;
  }
}