@import './vars';

.App {
  display: grid;
  grid-template-areas:
    'navbar main'
    'navbar footer';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.navbar {
  grid-area: navbar;
  background-color: $dark-blue;
}

.main {
  grid-area: main;
  background-color: $bgSecondary;
}

@media (max-width: 793px) {
  .App {
    grid-template-areas:
      'navbar navbar'
      'main main'
      'footer footer';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 84px auto 96px;
  }

  .navbar {
    position: fixed;
    height: 84px;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
  }
}
