@import './vars';

.App {
  display: grid;
  grid-template-areas:
    'navbar main'
    'navbar footer';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.navbar {
  grid-area: navbar;
  position: relative;
  background-color: $dark-blue;
}

.main {
  grid-area: main;
  background-color: $bgSecondary;
}

@media (max-width: 793px) {
  .App {
    grid-template-areas:
      'navbar navbar'
      'main main'
      'footer footer';
  }
}
