$text-primary: #000;
$text-secondary: #fff;
$bgPrimary: #fff;
$bgSecondary: #f9f9f9;
$light-blue: #0071bd;
$blue: rgb(64, 132, 207);
$blue-hover: rgb(46, 95, 147);
$light-white: #e6f7ff;
$border: #d9d9d9;
$dark-blue: rgb(0, 19, 41);
$light-grey: rgb(180, 180, 180);
$card-hover: #f6f6f6;

// === templates ===
%page {
  padding: 20px;
  position: relative;
}

%page-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
