$text-primary: #000;
$bgPrimary: #fff;
$bgSecondary: #f9f9f9;
$light-blue: #0071bd;
$blue: rgb(64, 132, 207);
$blue-hover: rgb(46, 95, 147);
$light-white: #e6f7ff;
$border: #d9d9d9;
$dark-blue: rgb(0, 19, 41);
