@import '../../../scss/vars';

.card {
  display: block;
  padding: 15px 0 50px 0;
  font-size: 16px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  background-color: $bgPrimary;
  transition: all 0.3s;

  &:hover {
    background-color: $card-hover;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid $light-grey;
  }

  &__title {
    font-weight: 500;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__infoBox {
    padding-left: 20px;
  }

  &__info:not(:last-child) {
    margin-bottom: 15px;
  }
}
